.layout {
    background: $main-bg-color;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    > main {
        flex-basis: 500px;
        padding: 20px;
    }
}