.form_wrapper {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    > h1 {
        margin-bottom: 20px;
    }
    > label {
        margin-bottom: 20px;
    }
    > label:last-of-type {
        margin-bottom: 50px;
    }
}