.form_wrapper {
    display: flex;
    flex-direction: column;
    > h1 {
        margin-bottom: 20px;
    }
    > label {
        margin-bottom: 20px;
    }
    > label:last-of-type {
        margin-bottom: 50px;
    }
    > button:first-of-type {
        margin-bottom: 20px;
    }
    :global {
        .password-input__toggle {
            position: absolute;
            top: 23px;
            right: 15px;
            fill: $input-color-focus;
        }
    }
}