.layout {
    background: $main-bg-color;
    min-height: 100vh;
    > header {
        height: 20vh;
    }
    > main {
        height: 60vh;
        padding: 20px;
    }
    > footer {
        height: 20vh;
    }
}