$main-font: 'Roboto', sans-serif;

$primary-color: #ffffff;
$white-color: #dccece;
$errors-color: red;

$input-color: #ccc;
$input-color-hover: #444;
$input-color-focus: #fdf;
$input-color-disabled: #ccc;
$input-color-error: red;

$button-color: #03e9f4;
$button-color-hover: #03e94f;
$button-bg-hover: #03e94f;

$main-bg-color: #1e1b1b;

$main-border-color: #b3b3b3;

$main-border-radius: 10px;

$desktop-breakpoint: 1400px;
$tablet-breakpoint: 1200px;
$small-tablet--breakpoint: 992px;
$mobile-breakpoint: 768px;
$small-mobile-breakpoint: 576px;
