//fonts
$main-font: 'Poppins', sans-serif;
$secondary-font: 'Love Ya Like A Sister', cursive;

//colors
$primary-color: #000000;
$primary-color-rgba: rgba(0, 0, 0, 0.68);
$white-color: #FFFFFF;
$light-grey-color: rgba(0, 0, 0, 0.32);
$dark-grey-color: #C4C4C4;
$error-color: rgb(214, 4, 4);
$success-color: green;
$light-orange-color: #FF4500;
$dark-orange-color: #b14115;
$input-color: #C3C0C0;
$input-color-hover: #797979;
$input-color-focus: #3d3db4;
$input-color-disabled: #ccc;
$cabinet-main-color: #FFF8F6;


//others ui
$main-border-radius: 10px;

//media queries
$xl: 1200px;
$xxl: 1400px;
$lg: 992px;
$md: 768px;
$sm: 576px;
